#---- Gambas files to ignore (v9)
*.gambas
.lock
*~
vgcore
vgcore.*
.kdbg*
.*.prof
.lang/*.pot
.gambas/*
.settings
.startup
.environment
.list
.info
.fuse_hidden*
.profile/*
.desc/*
.app.png
.icon.png
#----
AGENTS.md
agent.md
agents/GEMINI.md
agents/proyecto.md
#----
agents/
**/DIR_NOTES.local.md
